@model List<Supplier>

<div class="container mt-3">
    <a asp-action="Create" asp-controller="Supplier" class="btn btn-primary mb-3">Add new Order</a>
    <table class="table table-bordered text-center" width="50%">
        <tr>
            <th>Company Name</th>
            <th>Contact First Name</th>
            <th>Contact Last Name</th>
            <th>Country</th>
            @*<th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>TypeGoods</th>
            <th>LoGo</th>
            <th>URL</th>*@
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>


        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CompanyName</td>
                <td>@item.ContactFName</td>
                 <td>@item.ContactLName</td>           
                <td>@item.Country</td>
              @*  <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.PostalCode</td>
                <td>@item.TypeGoods</td>
              <td>@item.Logo</td>
                <td>@item.Url</td>*@
       

                <td> <a asp-action="GetById" asp-controller="Supplier" asp-route-id="@item.Id" class="btn btn-info">Details</a></td>
                <td> <a asp-action="Update" asp-controller="Supplier" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
                <td><a class="btn btn-danger" asp-action="Delete" asp-controller="Supplier" asp-route-id="@item.Id" onclick="ConfirmDelete(event)">Delete</a></td>
            </tr>
        }
    </table>
</div>

<script>
    function ConfirmDelete(){
        var accept=confirm("Are You Sure?");
        if(accept==false)
            event.preventDefault();
    }
</script>
