@model Supplier


<div class="container mt-3">
    <h2>Show Supplier details</h2>

    <table class="table table-bordered">
        <tr>
            <th>Company Name</th>
            <td>@Model.CompanyName </td>
        </tr>
        <tr>
            <th>Contact Firs tName</th>
            <td>@Model.ContactFName </td>
        </tr>
        <tr>
            <th>Contact Las tName</th>
            <td>@Model.ContactLName </td>
        </tr>

        <tr>
            <th>Address</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>City</th>
            <td>@Model.City</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <th>PostalCode  </th>
            <td>@Model.PostalCode</td>
        </tr>
        <tr>
            <th>LoGo</th>
            <td>@Model.Logo</td>
        </tr>
        <tr>
            <th>TypeGoods</th>
            <td>@Model.TypeGoods</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>@Model.Url</td>
        </tr>
    </table>

    <a asp-action="index" asp-controller="home" class="btn btn-secondary">Back Home</a>

</div>



