@model Order


<div class="container mt-3">
    <h2>Show Order details</h2>

    <table class="table table-bordered">
         <tr>
            <th>Customer</th>
            @foreach(var item in ViewBag.Cust)
            {
                if(item.Id == Model.CustomerId)
                {
                    <td>@item.FirstName</td>
                }
            }
        </tr>
        <tr>
            <th>Order Number</th>
            <td>@Model.OrderNumber</td>
        </tr>
         <tr>
            <th>Payment Method</th>
            @foreach(var item in ViewBag.Pay)
            {
                if(item.Id == Model.PaymentId)
                {
                    <td>@item.PaymentType</td>
                }
            }
        </tr>
          <tr>
            <th>Shipper</th>
            @foreach(var item in ViewBag.Ship)
            {
                if(item.Id == Model.ShipperId)
                {
                    <td>@item.CompanyName</td>
                }
            }
        </tr>
        
        <tr>
            <th>Order Date</th>
            <td>@Model.OrderDate</td>
        </tr>
        <tr>
            <th>Required Date</th>
            <td>@Model.RequiredDate</td>
        </tr>
        <tr>
            <th>Freight</th>
            <td>@Model.Freight</td>
        </tr>
        <tr>
            <th>Transaction Status</th>
            <td>@Model.Freight</td>
        </tr>
        <tr>
            <th>Paid</th>
            <td>@Model.Paid</td>
        </tr>
        <tr>
            <th>Payment Date</th>
            <td>@Model.PaymentDate</td>
        </tr>    
    </table>

    <a asp-action="GetAll" asp-controller="Order" class="btn btn-secondary">Back</a>
    
</div>
 


