@model Order


<div class="container mt-3">
    <h2>Show Order details</h2>

    <table class="table table-bordered">
         <tr>
            <th>Customer</th>
            @foreach(var item in ViewBag.Cust)
            {
                if(item.Id == Model.CustomerId)
                {
                    <td>@item.FirstName</td>
                }
            }
        </tr>
       @* <tr>
            <th>Order Number</th>
            <td>@Model.OrderNumber</td>
        </tr>*@
         <tr>
            <th>Payment Method</th>
           <td>@Model.Payment </td>

            <th>Shipper</th>
            <td>@Model.Shipper </td>
        </tr>
        
      @*  <tr>
            <th>Order Date</th>
            <td>@Model.OrderDate</td>
        </tr>*@
        <tr>
            <th>Freight</th>
            <td>@Model.Freight</td>
        </tr>
        <tr>
            <th>Transaction Status</th>
            <td>@Model.Freight</td>
        </tr>
 
       @* <tr>
            <th>Payment Date</th>
            <td>@Model.PaymentDate</td>
        </tr>   *@ 
    </table>

    <a asp-action="GetAll" asp-controller="Order" class="btn btn-secondary">Back</a>
    
</div>
 


